<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Page</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
</head>
<body>
<h1>Index Page</h1>

<div>
    <a href="/sub-page">Sub Page</a>
    <a href="/request-param?projectId=a123">Request Param</a>
    <a href="/query-param/123">Query Param</a>
</div>

<p>Config:<span th:inline="text">[[${foo}]]</span></p>
</body>
</html>